body {
    background-color: #3498db;
    color: #000000;
    font-family: Arial, sans-serif;
  }
  #region {
    color: white;
  }
  header {
    background-color: #2980b9;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
    color: white;
  }
  
  select {
    padding: 10px;
    border: none;
    background-color: #2980b9;
    color: #ffffff;
    font-size: 16px;
  }
  
  section {
    margin: 20px;
  }
  
  .celebrity-card {
    background-color: #ffffff;
    border: 1px solid #2980b9;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  .celebrity-card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .celebrity-card h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .celebrity-card p {
    font-size: 16px;
  }
  h2 {
    color: white;
  }